/***账户详情***/
@charset "utf-8";
.goodsDetail-header{position: absolute;top: 0;left: 0;width:100%;background:#E43A3D;height: 1.83rem;line-height: 1.83rem;z-index: 9999;}
.goodsDetail-header .get-back{margin-left: 0.42rem;position: absolute;z-index: 100;}
.goodsDetail-header .get-back i{color: #FFFFFF;}
.goodsDetail-header .header-text{font-size: 0.75rem;color:#FFFFFF;text-align: center;position: relative;}
.profit-panel{padding:18px 12px 15px;background:#FFFFFF;text-align: center;display: flex;display: -webkit-flex;justify-content: space-between;position: relative;margin:8px 0;box-shadow: 0 0 0 8px #f2f2f2;}
.profit-panel::after{content: "";position: absolute;width: 1px;height: 50%;background:#e5e5e5;left: 50%;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.profit-panel .panel-content{width: 50%;font-size: 0.6rem;}
.profit-tabel{padding:0 12px;background: #FFFFFF;}
.profit-tabel .profit-tabel-title{font-size: 0.67rem;color:#E4393C;line-height: 1.35rem;}
.profit-tabel .profit-tabel-tr{height:2.083rem;line-height: 2.083rem;border-top: 1px solid #dcdcdc;}
.profit-tabel .profit-tabel-tr .tr-title{float:left;font-size: 0.67rem;color:#333;}
.profit-tabel .profit-tabel-tr .tr-content{float: right;font-size: 0.67rem;color:#333;}
.profit-tabel .profit-tabel-tr .tr-content .time-icon{color:#fb9951;margin-left: 0.75rem;}
.btn-withdrawals{display: inline-block;width:2.083rem;height: 0.83rem;line-height: 0.83rem;text-align: center;border:1px solid #23a5e8;font-size: 0.5rem;color:#23a5e8;border-radius: 4px;margin-top: 12px;}
.goods-list-title{line-height: 1.67rem;font-size: 0.67rem;padding:0 12px;background:#f2f2f2;}
.goods-list .list-item{margin:8px 0;padding:0px 12px 18px;box-shadow: 0 0 0 8px #f2f2f2;}
.goods-list .list-item .item-head{padding:9px 0;border-bottom: 1px solid #dcdcdc;overflow: hidden;}
.goods-list .list-item .item-head .order-num{color:#212121;font-size: 0.5rem;float: left;}
.goods-list .list-item .item-head .order-time{float: right;margin-right: 12px;font-size: 0.5rem;color:#666;}
.goods-list .list-item .item-content{position:relative;padding:18px 0 10px;overflow: hidden;display: flex;display: -webkit-flex;align-items: stretch;justify-content: space-between;-webkit-justify-content: space-between;border-bottom: 2px solid #dcdcdc;}
.goods-list .list-item .item-content .content-media{width:24%;padding-top:24%;position: relative;overflow:hidden;border-radius: 4px;margin-right: 12px;flex-grow: -1;align-self: flex-start;box-shadow: 0 0 4px 2px #CCCCCC;}
.goods-list .list-item .item-content .content-media img{position:absolute;width:100%;height: 100%;left: 0;top:0;}
.goods-list .list-item .item-content .content-info{flex-grow:1;padding-right:10px;display: flex;display: -webkit-flex;flex-direction: column;-webkit-flex-direction: column;justify-content: space-between;-webkit-justify-content: space-between;}
.goods-list .list-item .item-content .content-info .shop-name{font-size:0.67rem;color:#333333;line-height: 0.67rem;margin-top:0.2rem}
.goods-list .list-item .item-content .content-info .order-money,.goods-list .list-item .item-content .content-info .order-amount{color:#999;font-size: 0.58rem;line-height: 1rem;}
.goods-list .list-item .item-content .content-info .order-amount{}
.goods-list .list-item .item-content .content-handle{flex-grow:-1;display: -webkit-flex;flex-direction: column;-webkit-flex-direction: column;justify-content: space-between;-webkit-justify-content: space-between;font-size: 0.67rem;}
.goods-list .list-item .item-content .content-handle .profit-num{font-size: 0.75rem;}
.goods-list .list-item .item-content .content-handle .btn-sure-order{display:block;font-size:0.6rem;margin-bottom:0.1rem;text-align: center;width:100%;height: 1rem;line-height: 1rem;color:#fff;background:#E4393C;border-radius: 4px;}
.has-sured.goods-list .list-item .item-content .content-handle .btn-sure-order{background:#999;}
.item-footer{height: 1.4rem;line-height: 1.4rem;margin-bottom: -18px;font-size: 0.5rem;color:#333;}
.item-footer.order-fail{color:#E4393C;}
.item-footer.order-fail .font-ico{margin-right: 6px;color:#E4393C;}
.item-footer .order-success.order-state-ico{display:inline-block;margin-right:6px;width:0.6rem;height:0.6rem;line-height:0.6rem;text-align:center;border-radius: 50%;background:#2bb86a;}
.item-footer .order-success .font-ico{color:#fff;}
.mui-table-view-cell:after{display: none;}