*{margin: 0;padding: 0}

@media screen and (max-width:320px) {
    html {
        font-size: 20px !important;
    }
}

@media screen and (min-width:320px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width:340px) and (max-width:360px) {
    html {
        font-size: 21.25px;
    }
}

@media screen and (min-width:360px) and (max-width:370px) {
    html {
        font-size: 22.5px;
    }
}

@media screen and (min-width:370px) and (max-width:400px) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-width:400px) and (max-width:440px) {
    html {
        font-size: 25px;
    }
}

@media screen and (min-width:440px) and (max-width:480px) {
    html {
        font-size: 27.5px;
    }
}

@media screen and (min-width:480px) and (max-width:520px) {
    html {
        font-size: 30px;
    }
}

@media screen and (min-width:520px) and (max-width:560px) {
    html {
        font-size: 32.5px;
    }
}

@media screen and (min-width:560px) and (max-width:600px) {
    html {
        font-size: 35px;
    }
}

@media screen and (min-width:600px) and (max-width:640px) {
    html {
        font-size: 37.5px;
    }
}

@media screen and (min-width:640px) {
    html {
        font-size: 40px !important;
    }
}



body {
	width: 100%;
	height: 100%;
	background-color: #fff !important;
}

input, button {
	border-width: 0;
	outline:none;
}



img {
    width: 100%;
    display: block;
}

em {
    font-style: normal;
}

