<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, m aximum-scale=1.0, user-scalable=no" />
    <meta name = "format-detection" content = "telephone=no">
    <title>售后订单</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="./css/mui.min.css"/>
    <link rel="stylesheet" href="./css/deliverOrderDetail.css">
<!--    <link rel="stylesheet" href="css/orderCustomerdetail.css">-->
</head>
<body>
    <div id="app">
        <div class="ui-header">
            <span  class="go-back" @click="goBack()"><i class="tb-left-ico font-ico">&#xe936;</i></span>
            <span class="al-center">订单详情</span>
            <span class="opt-bill" @click="changeInputBill()" v-show="deliverStatus == 1 && oneHide">{{ isMulti ? '取消' : "批量填单号" }}</span>
        </div>

        <div class="sale-order__num">
            <span class="iocn-sale">买</span>
            <span class="order-no">订单号：{{ orderData.orderno }}</span>
        </div>

        <div class="deliver-info">
            <p class="deliver-bill__info">下单时间：{{ orderData.purchaseDate }}</p>
            <p class="deliver-bill__info">收&nbsp;货&nbsp;人：{{ orderData.shippingName }}</p>
            <p class="deliver-bill__info">联系电话：{{ orderData.shippingTelephone }}</p>
            <p class="deliver-bill__info">收货地址：{{ orderData.address }}</p>
        </div>

        <ul class="order-list">
            <li class="order-item" v-for="(item,index) in orderData.detailsResultList" :key="index">
                <div class="order-item__panel clearfix">
                    <div class="order-item__left"><img :src="item.goodsImgUrl" alt=""></div>
                    <div class="order-item__right">
                        <p class="order-item__title ellipsis">{{ item.goodsName }}</p>
                        <p class="order-item__count">规格:{{ item.spec }}</p>
                        <p class="order-item__count">数量:{{ item.count }}</p>
                        <p class="order-item__paytime">付款时间：{{ orderData.payTime }}</p>
                        <p class="order-item__price">原出厂价:￥{{ item.primitiveFactoryPrice }}</p>
                    </div>
                </div>
                <div class="order-item__remark">
                    <div class="remark-desc"><span style="color: #333;">备注：</span>不接受指定快递，特殊需求请求联系卖家</div>
                    <div class="go-input" @click="inputBill(item.sku)" v-show="deliverStatus == 1">输入单号</div>
                </div>
                <!--    批量多选checkbox            -->
                <div class="slelect-icon"
                     :class="[ !item.isSelect ? 'noCheck' : 'check' ]"
                     @click="item.isSelect = !item.isSelect"
                     v-show="isMulti">
                </div>

                <!--   发货物流信息             -->
                <div class="deliver-info relative" v-show="deliverStatus == 2">
                    <p class="deliver-bill__info">发货时间：{{ orderData.acceptTime }}</p>
                    <p class="deliver-bill__info">物流公司：{{ deliverName[item.carrier] }}</p>
                    <p class="deliver-bill__info">快递单号：{{ item.waybill }}</p>
                    <div class="edit-deliver__bill" @click="modifyBill(item.sku,item.carrier,item.waybill)">修改单号</div>
                </div>

            </li>
        </ul>

        <div class="multi-wrap" v-if="isMulti">
            <div class="multi-bnt" @click="inputBill()">批量填单号</div>
        </div>

    </div>
</body>
<script src="../../common/lib/flexible/flexible.js"></script>
<script src="../../common/lib/jquery/js/jquery-2.0.0.min.js"></script>
<script src="./js/mui.min.js"></script>
<script type="text/javascript" src="../../common/js/common.js" ></script>
<script src="../../common/lib/vue/vue.js"></script>
<script src="./js/deliverOrderDetail.js"></script>
</html>