@media screen and (max-width:320px){html{font-size:20px !important;}}
        @media screen and (min-width:320px){html{font-size:20px;}}
        @media screen and (min-width:340px){html{font-size:21.25px;}}
        @media screen and (min-width:360px){html{font-size:22.5px;}}
        @media screen and (min-width:380px){html{font-size:23.75px;}}
        @media screen and (min-width:400px){html{font-size:25px;}}
        @media screen and (min-width:440px){html{font-size:27.5px;}}
        @media screen and (min-width:480px){html{font-size:30px;}}
        @media screen and (min-width:520px){html{font-size:32.5px;}}
        @media screen and (min-width:560px){html{font-size:35px;}}
        @media screen and (min-width:600px){html{font-size:37.5px;}}
        @media screen and (min-width:640px){html{font-size:40px;}}
        @media screen and (min-width:680px){html{font-size:42.5px;}}
        @media screen and (min-width:720px){html{font-size:45px;}}
        @media screen and (min-width:750px){html{font-size:46.875px;}}
        *{
            padding:0;
            margin:0;
        }
        p{
           font-size:.5778rem;
        }
        ul{
            list-style:none;
        }
        i{
            font-style: normal;
        }
        img{
            width:100%;
        }
        a{
            text-decoration: none;
            color:#fff;
        }
        button{
            outline-style: none;
            background-color:transparent;
            border:0;
        }
        .btns {
            display: block;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2rem;
            text-align: center;
            line-height: 2rem;
            background-color: #ff4f4b;
            font-size: .7556rem;
        }
        .dbzq .flex{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
        }
        .dbzq .flex-item{
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .dbzq .download-con .box {
            width: 9.3333rem;
            margin: 0 auto;
            overflow: hidden;
        }

        .dbzq .download-con .img-box {
            float: left;
        }

        .dbzq .download-con .img-box img {
            width: 3.6444rem;
            height: 3.6444rem;
            display: block;
        }

        .dbzq .download-con .img-box span {
            font-size: .4rem;
            color: #666;
        }

        .dbzq .download-con .btn-box {
            float: right;
        }

        .dbzq .download-con .btn-box a {
            display: block;
            width: 4.1778rem;
            height: 1.1111rem;
            margin-top: .6667rem;
        }